<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Bootstragam</title>
    <style>
        body {
            background: #fafafa;
            color: #999;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row mt-5 ">
            <div class=" col-12 col-md-4 d-none d-md-block offset-md-2 pt-5">
                <img src="../public/img/design-4/phone.png " width="120%" class="justify-content-center mt-4" alt="celular bootstragram">
            </div>
            <div class="col-12 col-md-4 bg-white border text-center py-4 px-5">
                <img src="../public/img/design-4/banner.png" alt="logo bootstragram" class="mt-3 img-fluid">
                <p class="font-weight-bold my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <button class="btn btn-primary btn-block"><i class="fab fa-facebook-square text-white mr-2"></i>Conectar con facebook</button>
                <div class="my-3">O</div>
                <form action="">
                    <div class="form-group">
                        <input name="phone" type="text" class="form-control bg-light" placeholder="Número de Celular">
                    </div>
                    <div class="form-group">
                        <input name="full-name" type="text" class="form-control bg-light" placeholder="Nombre Completo">
                    </div>
                    <div class="form-group">
                        <input name="user-name" type="text" class="form-control bg-light" placeholder="Nombre de Usuario">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control bg-light" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../public/fontawesome5.12.1/js/all.min.js"></script>

</body>

</html>