<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../public/img/favicon.png" sizes="16x16" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Grid Bootstrap</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 bg-primary p-5 text-center">
                    <h1 class="text-white">Diseño WEB</h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row py-4">
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12 border-bottom">
                            <img src="../public/img/1-min.jpg" alt="Pareja agarrados de la mano." class="img-fluid">
                            <h3 class="pt-2 text-primary">Lorem, ipsum.</h3>
                            <p class="pt-3 text.justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus tenetur qui sed, veniam neque exercitationem magni doloremque a necessitatibus cumque minima doloribus accusantium non eligendi commodi modi est odit illum
                                rerum ducimus eum alias rem ipsam! Veniam tempora corporis laborum pariatur dolore, praesentium, culpa quidem accusantium maiores possimus provident alias.</p>
                        </div>
                        <div class="col-12 pt-3 border-bottom">
                            <img src="../public/img/3-min.jpg" alt="Pareja agarrados de la mano." class="img-fluid">
                            <h3 class="pt-2 text-primary">Lorem, ipsum.</h3>
                            <p class="pt-3 text.justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus tenetur qui sed, veniam neque exercitationem magni doloremque a necessitatibus cumque minima doloribus accusantium non eligendi commodi modi est odit illum
                                rerum ducimus eum alias rem ipsam! Veniam tempora corporis laborum pariatur dolore, praesentium, culpa quidem accusantium maiores possimus provident alias.</p>
                        </div>
                    </div>
                </div>
                <aside class="col-12 col-md-4 d-none d-md-block text-center bg-secondary py-4">
                    <h4 class="text-white p-2 bg-secondary">Tutorial en Linea</h4>
                    <img src="../public/img/4-min.jpg" alt="Tutorial en linea de fotografia." class="img-fluid">
                    <div class="p-2 bg-light mt-1">
                        <a href="#" class="text-success h4">
                            <p class="p-0 m-0">Comprar</p>
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row bg-dark p-4">
                <div class="col-12">
                    <p class="h5 text-white text-right">Company Web Design&copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Production version -->
    <script src="../public/js/jquery.min.js"></script>
    <!-- CDN POPPER -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>

</body>

</html>